@model MotoBest.Web.ViewModels.AdvertViewModel

<div class="mb-4">
    <div class="mt-4 mb-2 text-wrap h4">@Model.Title</div>
    <a href="@Model.OriginalAdvertUrl">Виж оригиналната обява от @Model.AdvertProviderName</a>
</div>

<div class="mb-3 col-lg-12 mx-auto badge-dark rounded" style="max-height: 500px;">
    <div class="container-fluid">
        <img id="advert-image" src="@Model.ImageUrls.First()"
             class="img-fluid center-block d-block mx-auto d-inline"
             style="max-height: 400px; border-left: 3px solid white; border-right: 3px solid white"
             alt="Снимка на обявата" />
    </div>
</div>

<div class="text-center mb-5">
    <button id="prev-img" class="rounded badge-secondary border-0 px-3 py-1 mr-3">предишна</button>
    <span id="current-img-index" class="font-weight-bold"></span>
    <button id="next-img" class="rounded badge-secondary border-0 px-3 py-1 ml-3">следваща</button>
</div>

<div class="alert-success my-3 p-3 h5 rounded">
    <span>Цена</span>
    <span class="float-right">@Model.Price</span>
</div>

<div class="mb-3">
    @{
        int index = 0;
        foreach (var infoPair in Model.InfoPairRows)
        {
            string backgroundStyleClass = index % 2 == 0 ? "alert-dark" : "alert-secondary";
            string blockCornersStyleClass = string.Empty;

            if (index == 0)
            {
                blockCornersStyleClass = "rounded-top";
            }

            if (index == Model.InfoPairRows.Count() - 1)
            {
                blockCornersStyleClass = "rounded-bottom";
            }

            <div class="@backgroundStyleClass @blockCornersStyleClass p-2 col-12">
                <span class="font-weight-bolder pl-2">@infoPair.Key</span>
                <span class="float-right pr-2">@infoPair.Value</span>
            </div>

            index++;
        }
    }
</div>

@if (Model.Description != null)
{
    <div class="alert-secondary p-3 col-12 rounded">
        <h5 class="h5 font-weight-bold">Допълнителна информация</h5>
        <p id="advert-desc" class="text-hide">@Model.Description</p>
        <p id="short-advert-desc">@Model.ShortDescription</p>
        <button id="desc-button" class="col-12 btn-dark p-1 rounded mt-2">Покажи повече</button>
    </div>
}

<script>

    const showMoreMessage = "Покажи повече";
    const showLessMessage = "Покажи по-малко";
    let isShortDescShown = true;

    const imageUrls =
    [
        @foreach (string imageUrl in Model.ImageUrls)
        {
            <text>"@imageUrl",</text>
        }
    ];

    let imageIndex = 0;

    function loadCurrentImage() {
        document.querySelector("#advert-image").src = imageUrls[imageIndex];
        updateCurrentImageIndexView();
    }

    function updateCurrentImageIndexView() {
        document.querySelector("#current-img-index").textContent = `${imageIndex + 1}/${imageUrls.length}`;
    }

    document.querySelector("#next-img").addEventListener("click", () => {
        imageIndex++;
        if (imageIndex >= imageUrls.length) {
            imageIndex = 0;
        }
        loadCurrentImage();
    });

    document.querySelector("#prev-img").addEventListener("click", () => {
        imageIndex--;
        if (imageIndex < 0) {
            imageIndex = imageUrls.length - 1;
        }
        loadCurrentImage();
    });

    let descButton = document.querySelector("#desc-button");

    descButton?.addEventListener("click", () => {
        if (isShortDescShown) {
            document.querySelector("#advert-desc")?.classList.remove("text-hide");
            document.querySelector("#short-advert-desc").classList.add("text-hide");
            descButton.textContent = showLessMessage;
        } else {
            document.querySelector("#advert-desc")?.classList.add("text-hide");
            document.querySelector("#short-advert-desc").classList.remove("text-hide");
            descButton.textContent = showMoreMessage;
        }
        isShortDescShown = !isShortDescShown;
    });

    loadCurrentImage();
</script>
