@model MotoBest.Web.ViewModels.AdvertViewModel

<h3 class="h3">@Model.Title</h3>

<h4 class="h4">@Model.Price</h4>

<a href="@Model.OriginalAdvertUrl" class="p-2">Разгледай оригиналната обява от @Model.AdvertProviderName</a>

<div class="col-6">
    <img src="@Model.ImageUrls.First()" class="img-fluid rounded" alt="Снимка на обявата" />
</div>


<div class="p-2">
    @{
        int index = 0;
        foreach (var infoPair in Model.InfoPairRows)
        {
            string backgroundStyleClass = index % 2 == 0 ? "alert-dark" : "alert-secondary";
            string blockCornersStyleClass = string.Empty;

            if (index == 0)
            {
                blockCornersStyleClass = "rounded-top";
            }

            if (index == Model.InfoPairRows.Count() - 1)
            {
                blockCornersStyleClass = "rounded-bottom";
            }

            <div class="@backgroundStyleClass @blockCornersStyleClass p-1 col-5">
                <span class="font-weight-bolder p-xl-2">@infoPair.Key</span>
                <span class="col-5 float-right">@infoPair.Value</span>
            </div>

            index++;
        }
    }
</div>

@if (Model.Description != null)
{
    <div class="alert-secondary p-3 col-8 rounded">
        <h5 class="h5">Допълнителна информация</h5>
        <p>@Model.Description</p>
    </div>
}