@model MotoBest.Web.ViewModels.AdvertViewModel
<div class="h5 ml-4 my-4">@Model.Title</div>

<div class="alert-danger col-8 ml-4 my-3 p-3 h5 rounded">Цена: @Model.Price</div>

<div class="col-8 my-4">
    <div class="container-fluid">
        <img id="advert-image" src="@Model.ImageUrls.First()" class="img-fluid rounded" alt="Снимка на обявата" />
    </div>
    <div class="alert text-center">
        <button id="prev-img" class="rounded alert-primary border-0 px-3 py-1 mr-4">предишна</button>
        <span id="current-img-index" class="font-weight-bold"></span>
        <button id="next-img" class="rounded alert-primary border-0 px-3 py-1 ml-4">следваща</button>
    </div>
</div>

<div class="mb-3 ml-4">
    @{
        int index = 0;
        foreach (var infoPair in Model.InfoPairRows)
        {
            string backgroundStyleClass = index % 2 == 0 ? "alert-dark" : "alert-secondary";
            string blockCornersStyleClass = string.Empty;

            if (index == 0)
            {
                blockCornersStyleClass = "rounded-top";
            }

            if (index == Model.InfoPairRows.Count() - 1)
            {
                blockCornersStyleClass = "rounded-bottom";
            }

            <div class="@backgroundStyleClass @blockCornersStyleClass p-2 col-8">
                <span class="font-weight-bolder p-xl-3">@infoPair.Key</span>
                <span class="col-4 float-right">@infoPair.Value</span>
            </div>

            index++;
        }
    }
</div>

@if (Model.Description != null)
{
    <div class="alert-secondary p-3 col-8 rounded ml-4">
        <h5 class="h5">Допълнителна информация</h5>
        <p>@Model.Description</p>
    </div>
}

<script>
    const imageUrls = [
        @foreach (string imageUrl in Model.ImageUrls)
        {
            <text>"@imageUrl",</text>
        }
    ];

    let imageIndex = 0;

    loadCurrentImage();

    function loadCurrentImage() {
        document.querySelector("#advert-image").src = imageUrls[imageIndex];
        updateCurrentImageIndexView();
    }

    function updateCurrentImageIndexView() {
        document.querySelector("#current-img-index").textContent = `${imageIndex + 1}/${imageUrls.length}`;
    }

    document.querySelector("#next-img").addEventListener("click", () => {
        imageIndex++;
        if (imageIndex >= imageUrls.length) {
            imageIndex = 0;
        }
        loadCurrentImage();
    });

    document.querySelector("#prev-img").addEventListener("click", () => {
        imageIndex--;
        if (imageIndex < 0) {
            imageIndex = imageUrls.length - 1;
        }
        loadCurrentImage();
    });
</script>
