@using MotoBest.Web.ViewModels;

@inject MotoBest.Services.IAdvertsFormatter advertsFormatter

@model IEnumerable<AdvertViewModel>

@foreach (AdvertViewModel advert in Model)
{
    <div class="my-2 border p-2 alert-light col-6">
        <a asp-controller="adverts" asp-action="byid" asp-route-id="@advert.Id" class="m-3">@advert.Title</a>
        <p class="d-inline float-right">@advert.Price</p>
        <div class="my-2">
            <img src="@advert.ImageUrls.First()" class="img-fluid rounded col-4 d-inline" />
            <span>@advertsFormatter.FormatDescription(advert.Description)</span>
        </div>
    </div>
}