@using MotoBest.Common;

@model MotoBest.Web.CombinedModels.SearchAdvertsCombinedModel

@{
    const string DefaultSelectListText = "Без значение";

    var brands = Model.View.Brands.Select(brand => new SelectListItem(brand.Name, brand.Id.ToString()));
    var engines = Model.View.Engines.Select(engine => new SelectListItem(engine.Type.Capitalize(), engine.Id.ToString()));
    var transmissions = Model.View.Transmissions.Select(transmission => new SelectListItem(transmission.Type.Capitalize(), transmission.Id.ToString()));
    var bodyStyles = Model.View.BodyStyles.Select(bodyStyle => new SelectListItem(bodyStyle.Name.Capitalize(), bodyStyle.Id.ToString()));
    var conditions = Model.View.Conditions.Select(condition => new SelectListItem(condition.Type.Capitalize(), condition.Id.ToString()));
    var colors = Model.View.Colors.Select(color => new SelectListItem(color.Name.Capitalize(), color.Id.ToString()));
    var regions = Model.View.Regions.Select(region => new SelectListItem(region.Name.Capitalize(), region.Id.ToString()));
    var euroStandards = Model.View.EuroStandards.Select(euroStandard => new SelectListItem(euroStandard.Type.Capitalize(), euroStandard.Id.ToString()));
}

<div class="display-4">Търсене на автомобили</div>

<form class="mt-5 form-inline text-center" method="get" asp-controller="Adverts" asp-action="Search" id="search-form">

    <div class="col-6 col-md-4 col-lg-3 my-4 h5 alert-light">
        <label asp-for="Input.BrandId" class="mb-3"></label>
        <select asp-for="Input.BrandId"
                asp-items="brands"
                class="custom-select alert-secondary"
                autocomplete="on"
                onchange="updateModelsByBrand(this)">
            <option value="">@DefaultSelectListText</option>
        </select>
    </div>

    <div class="col-6 col-md-4 col-lg-3 my-4 h5 alert-light">
        <label asp-for="Input.ModelId" class="mb-3"></label>
        <select asp-for="Input.ModelId"
                class="custom-select alert-secondary"
                autocomplete="on"
                id="models">
            <option value="">@DefaultSelectListText</option>
        </select>
    </div>

    <div class="col-6 col-md-4 col-lg-3 my-4 h5 alert-light">
        <label asp-for="Input.EngineId" class="mb-3"></label>
        <select asp-for="Input.EngineId"
                asp-items="engines"
                class="custom-select alert-secondary"
                autocomplete="on">
            <option value="">@DefaultSelectListText</option>
        </select>
    </div>

    <div class="col-6 col-md-4 col-lg-3 my-4 h5 alert-light">
        <label asp-for="Input.TransmissionId" class="mb-3"></label>
        <select asp-for="Input.TransmissionId"
                asp-items="transmissions"
                class="custom-select alert-secondary"
                autocomplete="on">
            <option value="">@DefaultSelectListText</option>
        </select>
    </div>

    <div class="col-6 col-md-4 col-lg-3 my-4 h5 alert-light">
        <label asp-for="Input.BodyStyleId" class="mb-3"></label>
        <select asp-for="Input.BodyStyleId"
                asp-items="bodyStyles"
                class="custom-select alert-secondary"
                autocomplete="on">
            <option value="">@DefaultSelectListText</option>
        </select>
    </div>

    <div class="col-6 col-md-4 col-lg-3 my-4 h5 alert-light">
        <label asp-for="Input.ConditionId" class="mb-3"></label>
        <select asp-for="Input.ConditionId"
                asp-items="conditions"
                class="custom-select alert-secondary"
                autocomplete="on">
            <option value="">@DefaultSelectListText</option>
        </select>
    </div>

    <div class="col-6 col-md-4 col-lg-3 my-4 h5 alert-light">
        <label asp-for="Input.EuroStandardId" class="mb-3"></label>
        <select asp-for="Input.EuroStandardId"
                asp-items="euroStandards"
                class="custom-select alert-secondary"
                autocomplete="on">
            <option value="">@DefaultSelectListText</option>
        </select>
    </div>

    <div class="col-6 col-md-4 col-lg-3 my-4 h5 alert-light">
        <label asp-for="Input.ColorId" class="mb-3"></label>
        <select asp-for="Input.ColorId"
                asp-items="colors"
                class="custom-select alert-secondary"
                autocomplete="on">
            <option value="">@DefaultSelectListText</option>
        </select>
    </div>

    <div class="col-6 col-md-4 col-lg-3 my-4 h5 alert-light">
        <label asp-for="Input.RegionId" class="mb-3"></label>
        <select asp-for="Input.RegionId"
                asp-items="regions"
                class="custom-select alert-secondary"
                autocomplete="on"
                onchange="updateTownsByRegion(this)">
            <option value="">@DefaultSelectListText</option>
        </select>
    </div>

    <div class="col-6 col-md-4 col-lg-3 my-4 h5 alert-light">
        <label asp-for="Input.TownId" class="mb-3"></label>
        <select asp-for="Input.TownId"
                class="custom-select alert-secondary"
                autocomplete="on"
                id="towns">
            <option value="">@DefaultSelectListText</option>
        </select>
    </div>

    <div class="col-6 col-md-4 col-lg-3 my-4 h5 alert-light">
        <div>
            <label class="mb-3">Цена</label>
        </div>
        <div class="mb-3">
            <input asp-for="Input.MinPrice" class="form-control" />
        </div>
        <div class="mb-3">
            <input asp-for="Input.MaxPrice" class="form-control" />
        </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3 my-4 h5 alert-light">
        <div>
            <label class="mb-3">Пробег</label>
        </div>
        <div class="mb-3">
            <input asp-for="Input.MinKilometrage" class="form-control" placeholder="от" />
        </div>
        <div class="mb-3">
            <input asp-for="Input.MaxKilometrage" class="form-control" placeholder="до" />
        </div>
    </div>
</form>

<div class="col-12 mt-3 text-center">
    <input type="submit" form="search-form" class="col-6 btn btn-dark" value="Търси" />
</div>

<script>
    const defaultOptionName = "@Html.Raw(@DefaultSelectListText)";
    const token = "XXXXXXXX_XXXXXXXX_XXXXXXXX_XXXXXXX";

    function updateModelsByBrand(sender) {
        const data = { BrandId: sender?.value };
        sendPostRequest("/Adverts/GetModelsByBrand", data, (res) => updateSelectElement("models", res));
    }

    function updateTownsByRegion(sender) {
        const data = { RegionId: sender?.value };
        sendPostRequest("/Adverts/GetTownsByRegion", data, (res) => updateSelectElement("towns", res));

    }

    function sendPostRequest(url, data, onSuccess) {
        $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            headers: { "X-CSRF-TOKEN": token },
            success: (res) => onSuccess(res),
        });
    }

    function updateSelectElement(id, items) {
        let models = document.querySelector(`#${id}`);
        models.innerHTML = STRING_EMPTY;
        items.unshift({ name: defaultOptionName, id: STRING_EMPTY });

        for (let model of items) {
            let option = document.createElement("option");
            option.textContent = model.name;
            option.value = model.name === defaultOptionName ? STRING_EMPTY : model.id;
            models.appendChild(option);
        }
    }
</script>
